.BláBláWy {

    color: rgb(250, 247, 247);
    text-align:left;
    font-size: 2rem;
    margin-left: 40px;
    display: flex;
    align-items: center;

}

.descricao {
    color: rgb(245, 241, 241);
    text-align: center;
    font-size: 1.5rem;

}

.subtitulo {
    color: rgb(255, 255, 255);
    text-decoration: solid;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.imagem1 {
    margin-left: 32rem;
    margin-right: 20rem;
    border: 1px solid #9e0e0e;
}

body {
    margin: 50px 0 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(245, 102, 0), #ffffff);
    background-repeat: no-repeat;
    background-size: cover;
}







